<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary"> 
      <ion-button (click)="settings()">
          <span *ngIf="!edit" ><ion-icon name="settings"></ion-icon></span>
          <span *ngIf="edit" ><ion-icon name="checkmark-circle-outline"></ion-icon></span>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="3">
        <ion-button (click)="getOneNotice('food')" expand="full" fill="outline" color="dark">
          Food
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="getOneNotice('fitness')" expand="full" fill="outline"  color="dark">
          Fitness
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button (click)="getOneNotice('sports')" expand="full" fill="outline" color="dark">
          Sports
        </ion-button>
      </ion-col>
      <ion-col size="3">
          <ion-button (click)="showMore()" expand="full" fill="outline" color="dark">
            <span *ngIf="!more">More <ion-icon name="add-circle"></ion-icon></span> 
            <span *ngIf="more">Less <ion-icon name="remove-circle"></ion-icon></span>
          </ion-button>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="more" align-items-center>
        <ion-col size="3">
          <ion-button expand="full" fill="outline" color="dark">            
            Medical
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="getOneNotice('health')" expand="full" fill="outline"  color="dark">
            Health
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="getOneNotice('tips')" expand="full" fill="outline" color="dark">
            Tips
          </ion-button>
        </ion-col>
        <ion-col size="3">
            <ion-button (click)="getNotice()" expand="full" fill="outline" color="dark">
              All
            </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
  <ion-card class="welcome-card" *ngFor="let notice of notices">
    <img src="{{notice.image}}" alt="" />
    <ion-card-header>
      <ion-card-subtitle>{{notice.category}}</ion-card-subtitle>
      <ion-card-title>{{notice.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{notice.description}}</p>
    </ion-card-content>
    <ion-button id="detalles" (click)="showDetails(notice)" expand="block" color="dark">
        <ion-icon name="open"></ion-icon>  View more
    </ion-button>
    <span *ngIf="edit">
      <ion-button id="detalles" (click)="delete(notice)" expand="block" color="danger">
        <ion-icon name="trash"></ion-icon> Delete
    </ion-button>
    </span>
    <span *ngIf="edit">
      <ion-button id="detalles" (click)="editNotice(notice)" expand="block" color="warning">
        <ion-icon name="create"></ion-icon> Edit
    </ion-button>
    </span>
  </ion-card>
  
</ion-content>